body {
    text-align: center;
}

p {
    margin: 2px;
    text-align: left;
    font-size: 13px;
}

h4 {
    margin: 10px;
}

button {
    border-radius: 5px;
    display: block;
    margin: 5px auto;
    text-transform: capitalize;
}

.capitalize {
    text-transform: capitalize;
}

.outline {
    border: 1px solid black;
    background-color: lightblue;
    font-size: 40px;
    padding: 20px;
    align-content: center;
}

.number {
    border: 1px solid black;
    background-color: lightblue;
    font-size: 40px;
    padding: 20px;
    align-content: center;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

#player-buttons {
    width: 10%;
    border: 1px solid black;
}

#game-area {
    width: 50%;
    border: 1px solid black;
}

#battle-area {
    display: flex;
    justify-content: space-evenly;
}

#chat {
    border: 1px solid black;
    width: 30%;
    padding: 5px;
}

.chat-window {
    height: 300px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.leaderboard{
    border: 1px solid black;
    margin: 20px auto;
    width: 200px;
}

.lead {
    text-align: left;
    text-transform: capitalize;
}

